<li class="list-group-item {{if this.task.isComplete "is-complete"}}">
  <div class="d-flex">
    <h5 class="card-title flex-fill">
      {{this.task.name}}
    </h5>
    <div class="toggle-done ml-auto">
      <div class="btn-group btn-group-sm" role="group">
        <BsButton @type="secondary" {{on "click" (fn @toggleTaskPin this.task)}}>
          {{if this.task.isPinned "Unpin" "Pin" }}
        </BsButton>

        <ToggleComplete @toggleComplete={{this.toggleComplete}} @isComplete={{this.task.isComplete}}>
        </ToggleComplete>

      </div>
    </div>
  </div>
  <div class="task-description">
    {{this.task.description}}
  </div>
</li>