<h1>Task List</h1>
<h4>Pinned Task</h4>
{{#if this.pinnedTasks}}
  <TaskList @tasks={{this.pinnedTasks}} @toggleTaskPin={{this.toggleTaskPin}} />
{{else}}
  No Pinned Tasks
{{/if}}
<h4>Other Tasks</h4>
<TaskList @tasks={{this.unpinnedTasks}} @toggleTaskPin={{this.toggleTaskPin}}/>

<nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
    <strong>Completed Tasks:</strong> {{this.completedTasks}}
  </span>
</nav>