<h1>Task List</h1>
<h4>Pinned Task</h4>
{{#if this.pinnedTask}}
  <SingleTask @isPinned={{true}} @task={{this.pinnedTask}} @onPinSentUp={{this.receivedPinAction}}/>
{{else}}
  No Pinned Tasks
{{/if}}
<h4>Other Tasks</h4>
<TaskList @tasks={{this.model}} @onPinSentUp={{this.receivedPinAction}}/>

<nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
    <strong>Completed Tasks:</strong> {{this.completedTasks}}
  </span>
</nav>